*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(246, 244, 244);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(248, 6, 6);
    font-size:16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(https://cdn3.iconfinder.com/data/icons/arrows-160/96/uncheckedV_circle-512.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://th.bing.com/th/id/R.e5d36e309062f084c18568b8cf9f4bc5?rik=T7CPH8KU4%2bbFzw&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fred-check-mark-transparent-background%2fred-check-mark-transparent-background-22.png&ehk=Kx04z%2fxWFdUXIz%2fudzUy%2fJNwqFOuXDU28M%2bxXCWboS0%3d&risl=&pid=ImgRaw&r=0);

}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}